<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="X-UA-Compatible" content="IE=edge" />
        <meta name="description"
              content="{{ .Site.Params.description }}" />
        
        {{ hugo.Generator }}

        <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
        
        {{ if .IsHome }}
        <title>kylobytes | Home</title>
        {{ else }}
        <title>kylobytes | {{ .Title }}</title>
        {{ end }}

        {{ $sass := resources.Get "styles/main.scss" }}
        {{ $opts := (dict "outputStyle" "compressed") }}
        {{ $style := $sass | resources.ToCSS  $opts }}
        {{ $opts := (dict "use" "autoprefixer") }}
        {{ $style := $style | resources.PostCSS $opts | resources.Minify }}
        
        <link rel="stylesheet"
              type="text/css"
              href="{{ $style.RelPermalink }}" />

    </head>

    <body>
        
